*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    border: 1px solid black;
    padding: 20px;
    background: linear-gradient(rgb(54, 47, 244),rgb(187, 232, 72));
    border: none;
    border-radius: 8px;
}
.search{
    display: flex;
    justify-content: space-around;
    gap: 7px;
}
.search input{
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    border: none;
}
.search img{
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}
.weather{
    width: 100%;
    display: none;
}
.error{
    margin-top: 10px;
    display: none;
}
.error h1{
    font-size: 18px;
    font-weight: bold;
    color: rgb(240, 35, 35);
}
.weather-icon, .celsius{
text-align: center;
line-height: 35px;
}
.weather-icon img{
    width: 200px;
    height: 200px;
}
.celsius{
    line-height: 40px; 
}
.footer .humidity .img, .footer .wind-speed .img{
    width: 106px;
    gap: 10px;
    display: flex
;
}
.footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
